@import 'tailwindcss';

/* Custom range slider */
input[type='range'].board-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #3d2e25;
  outline: none;
}

input[type='range'].board-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #f0d9b5;
  cursor: pointer;
  border: 2px solid #b58863;
  transition: background 0.15s;
}

input[type='range'].board-slider::-webkit-slider-thumb:hover {
  background: #e5ccaa;
}

input[type='range'].board-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #f0d9b5;
  cursor: pointer;
  border: 2px solid #b58863;
}

input[type='range'].board-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
}

input[type='range'].board-slider::-moz-range-track {
  height: 6px;
  border-radius: 3px;
  background: #3d2e25;
}
